/**
 * Copyright © 2015 Studio Emma. All rights reserved.
 * See COPYING.txt for license details.
 */


//
//  Only variable overrides
//  _____________________________________________

@focus__box-shadow: none;

/**
 * Buttons
 */
@button__font-size: 1.6rem;
@button__padding: 15px 20px;
