& when (@media-common = true) {
    .cart {
        .actions-toolbar {
            .action-edit {
                margin-right: @indent__s;

                .lib-icon-font(
                    @icon-settings,
                    @_icon-font-size: 26px
                );
            }

            .action-delete {
                .lib-icon-font(
                    @icon-trash,
                    @_icon-font-size: 26px
                );
            }
        }
    }

    .checkout-index-index {
        .nav-sections,
        .nav-toggle {
            display: block;
        }
    }

    .checkout-container {
        .lib-vendor-prefix-display();
        .lib-vendor-prefix-flex-wrap(wrap);

        [class^='opc-'] {
            .lib-vendor-prefix-flex-grow(1);
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .cart.table-wrapper {
        .item-actions {
            .actions-toolbar {
                text-align: right;
            }
        }
    }

    .opc-wrapper {
        .lib-vendor-prefix-flex-basis(60%);
    }

    .opc-progress-bar {
        margin: 20px 0;
        .lib-vendor-prefix-flex-basis(12%);

        &-item {
            width: auto;
            display: block;

            &::before {
                content: none;
            }

            > span {
                padding-bottom: 30px;
            }
        }
    }

    .opc-sidebar {
        .lib-vendor-prefix-flex-basis(28%);
    }
}
