@charset 'UTF-8';
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Magento components
 */
/**
 * Prime components
 */
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
@font-face {
  font-family: 'rw-prime';
  src: url('../fonts/prime/rw-prime.eot');
  src: url('../fonts/prime/rw-prime.eot?#iefix') format('embedded-opentype'), url('../fonts/prime/rw-prime.woff') format('woff'), url('../fonts/prime/rw-prime.ttf') format('truetype'), url('../fonts/prime/rw-prime.svg#rw-prime') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*=' rw-icon-']::before {
  font-family: 'rw-prime' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Flexbox
 */
/**
 * CSS Grid
 */
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
input:not([disabled]):focus,
textarea:not([disabled]):focus {
  border-color: #696969;
}
.choice [type='radio'] + label::after {
  content: '';
  left: 6px;
  top: 14px;
  width: 14px;
  height: 14px;
  background-color: black;
  border-radius: 50%;
}
.choice [type='radio'] + label::before {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.choice [type='radio'] {
  /* Normal state */
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  /* Unchecked state */
  /* Checked state */
  /* Disabled state */
}
.choice [type='radio'] + label {
  position: relative;
  cursor: pointer;
  padding: 12px 0 12px calc(24px + 10px);
  margin: 2px 5px 0 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.choice [type='radio'] + label::after {
  position: absolute;
  text-transform: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.choice [type='radio'] + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  border: 1px solid #cccccc;
  text-transform: none;
}
.choice [type='checkbox']:not(:checked) + label::after,
.choice [type='radio']:not(:checked) + label::after {
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.choice [type='radio']:checked + label::after {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.choice [type='radio']:disabled + label::before {
  opacity: 0.4;
}
.choice [type='radio']:disabled:checked + label::after {
  opacity: 0.4;
}
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Slick carousel
 */
/**
 * MageSpecialist
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@magespecialist.it so we can send you a copy immediately.
 *
 * @category   MSP
 * @package    MSP_ReCaptcha
 * @copyright  Copyright (c) 2017 Skeeller srl (http://www.magespecialist.it)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/**
 * Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License").
 * You may not use this file except in compliance with the License.
 * A copy of the License is located at
 *
 *  http://aws.amazon.com/apache2.0
 *
 * or in the "license" file accompanying this file. This file is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */
/**
 * Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License").
 * You may not use this file except in compliance with the License.
 * A copy of the License is located at
 *
 *  http://aws.amazon.com/apache2.0
 *
 * or in the "license" file accompanying this file. This file is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */
/**
* Amazon Pay variables
**/
/**
 * Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License").
 * You may not use this file except in compliance with the License.
 * A copy of the License is located at
 *
 *  http://aws.amazon.com/apache2.0
 *
 * or in the "license" file accompanying this file. This file is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */
/**
 * File contains only one change on line 277 to fix issue postcss complains about
 */
@media all and (min-width: 768px), print {
  h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .navigation,
  .breadcrumbs,
  .page-header .header.panel,
  .header.content,
  .footer.content,
  .page-main {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
  }
  .page-main {
    width: 100%;
  }
  .columns {
    display: block;
  }
  .column.main {
    min-height: 300px;
  }
  .page-layout-1column .column.main {
    width: 100%;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .panel.header {
    padding: 10px 20px;
  }
  .nav-toggle {
    display: none;
  }
  .nav-sections {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    margin-bottom: 25px;
  }
  .navigation {
    background: #f5f5f5;
    font-weight: 700;
    height: inherit;
    left: auto;
    overflow: inherit;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  .navigation ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    position: relative;
  }
  .navigation li.level0 {
    border-top: none;
  }
  .navigation li.level1 {
    position: relative;
  }
  .navigation .level0 {
    margin: 0 10px 0 0;
    display: inline-block;
    position: relative;
  }
  .navigation .level0:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  .navigation .level0 > .level-top {
    color: #575757;
    line-height: 53px;
    padding: 0 12px;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
  }
  .navigation .level0 > .level-top:hover {
    color: #333;
    text-decoration: none;
  }
  .navigation .level0.parent:hover > .submenu {
    overflow: visible !important;
  }
  .navigation .level0.parent > .level-top {
    padding-right: 20px;
  }
  .navigation .level0 .submenu {
    background: #fff;
    border: 1px solid #d1d1d1;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
    font-weight: 700;
    min-width: 230px;
    padding: 15px 0;
    display: none;
    left: 0;
    margin: 0 !important;
    padding: 0;
    position: absolute;
    z-index: 1;
    margin-top: 11px;
  }
  .navigation .level0 .submenu a {
    display: block;
    line-height: inherit;
    color: #575757;
    padding: 8px 20px;
  }
  .navigation .level0 .submenu a:hover {
    background: #e8e8e8;
    color: #333;
    text-decoration: none;
  }
  .navigation .level0 .submenu .submenu {
    top: 0 !important;
    left: 100% !important;
  }
  .navigation .level0 .submenu li {
    margin: 0;
  }
  .fieldset > .field {
    margin: 0 0 20px;
    box-sizing: border-box;
    margin: 0 0 29px;
  }
  .fieldset > .field > .label {
    margin: 0;
  }
  .fieldset > .field:before,
  .fieldset > .field:after {
    content: '';
    display: table;
  }
  .fieldset > .field:after {
    clear: both;
  }
  .fieldset > .field:not(.choice) > .label {
    padding: 6px 15px 0 0;
    text-align: right;
    width: 25.8%;
    box-sizing: border-box;
    float: left;
  }
  .fieldset > .field:not(.choice) > .control {
    width: 74.2%;
    float: left;
  }
  .product.data.items {
    position: relative;
    z-index: 1;
  }
  .product.data.items:before,
  .product.data.items:after {
    content: '';
    display: table;
  }
  .product.data.items:after {
    clear: both;
  }
  .product.data.items > .item.title {
    float: left;
    width: auto;
  }
  .product.data.items > .item.title > .switch {
    height: 20px;
    display: block;
    position: relative;
    z-index: 2;
  }
  .product.data.items > .item.content {
    margin-top: 20px;
    box-sizing: border-box;
    float: right;
    margin-left: -100%;
    width: 100%;
  }
  .product.data.items > .item.content:before,
  .product.data.items > .item.content:after {
    content: '';
    display: table;
  }
  .product.data.items > .item.content:after {
    clear: both;
  }
  .product.data.items > .item.title {
    margin: 0 5px 0 0;
  }
  .product.data.items > .item.title > .switch {
    font-weight: 600;
    line-height: 20px;
    font-size: 1.4rem;
    color: #7d7d7d;
    text-decoration: none;
    background: #f0f0f0;
    border: 1px solid #d1d1d1;
    border-bottom: none;
    height: 20px;
    padding: 5px 20px 5px 20px;
  }
  .product.data.items > .item.title > .switch:visited {
    color: #7d7d7d;
    text-decoration: none;
  }
  .product.data.items > .item.title > .switch:hover {
    color: #7d7d7d;
    text-decoration: none;
  }
  .product.data.items > .item.title > .switch:active {
    color: #333;
    text-decoration: none;
  }
  .product.data.items > .item.title:not(.disabled) > .switch:focus,
  .product.data.items > .item.title:not(.disabled) > .switch:hover {
    background: #fcfcfc;
  }
  .product.data.items > .item.title:not(.disabled) > .switch:active {
    background: #ffffff;
    color: #333;
  }
  .product.data.items > .item.content {
    background: #ffffff;
    margin-top: 31px;
    padding: 20px 20px 20px 20px;
    border: 0;
    border-top: 1px solid #d1d1d1;
  }
  .actions-toolbar:before,
  .actions-toolbar:after {
    content: '';
    display: table;
  }
  .actions-toolbar:after {
    clear: both;
  }
  .actions-toolbar .primary {
    float: left;
  }
  .actions-toolbar .primary {
    display: inline-block;
  }
  .actions-toolbar .primary .action {
    margin: 0 5px 0 0;
  }
  .actions-toolbar > .primary {
    margin-bottom: 0;
  }
  .actions-toolbar > .primary .action {
    margin-bottom: 0;
    width: auto;
  }
  .hidden-dt {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .columns {
    clear: both;
  }
  .fieldset .legend,
  .column:not(.sidebar-main) form .actions-toolbar,
  .column:not(.sidebar-additional) form .actions-toolbar {
    margin-left: 25.8%;
  }
  .block-search .label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .header.content:before,
  .header.content:after,
  .page-header .header.panel:before,
  .page-header .header.panel:after {
    content: '';
    display: table;
  }
  .header.content:after,
  .page-header .header.panel:after {
    clear: both;
  }
  .column.main {
    box-sizing: border-box;
  }
  .product-add-form .fieldset > .field {
    margin: 0 0 20px;
  }
  .product-add-form .fieldset > .field:not(.choice) > .label {
    box-sizing: content-box;
    float: none;
    width: auto;
    text-align: left;
    padding: 0;
  }
  .product-add-form .fieldset > .field:not(.choice) > .control {
    float: none;
    width: auto;
  }
  .product-add-form .fieldset > .field > .label {
    margin: 0 0 5px;
    display: inline-block;
  }
  .product-info-main .box-tocart,
  .product-options-bottom .box-tocart {
    display: table;
  }
  .product-info-main .box-tocart .field.qty,
  .product-options-bottom .box-tocart .field.qty {
    display: table-cell;
  }
  .product-info-main .box-tocart .actions,
  .product-options-bottom .box-tocart .actions {
    display: table-cell;
    padding-top: 25px;
    text-align: center;
    vertical-align: bottom;
  }
  .product-info-main .page-title-wrapper .page-title {
    margin-top: -13px;
  }
  .product-info-main {
    float: right;
  }
  .product.media {
    float: left;
    margin-bottom: 25px;
  }
  .page-layout-1column .product-info-main {
    width: 40%;
  }
  .page-layout-1column .product.media {
    width: 57%;
  }
  .block-search {
    float: right;
    padding-left: 15px;
    position: relative;
    width: 250px;
    z-index: 4;
  }
  .block-search .control {
    border-top: 0;
    margin: 0;
    padding: 0 0 25px;
  }
  .block-search input {
    margin: 0;
    padding-right: 35px;
    position: static;
  }
  .block-search input::-webkit-input-placeholder {
    color: #c2c2c2;
  }
  .block-search input:-moz-placeholder {
    color: #c2c2c2;
  }
  .block-search input::-moz-placeholder {
    color: #c2c2c2;
  }
  .block-search input:-ms-input-placeholder {
    color: #c2c2c2;
  }
  .block-search .action.search {
    display: inline-block;
    background-image: none;
    background: none;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
    padding: 5px 0;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
  }
  .block-search .action.search > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .block-search .action.search:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 22px;
    line-height: 22px;
    color: #8f8f8f;
    content: '\e615';
    font-family: 'icons-blank-theme';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .block-search .action.search:hover:before {
    color: inherit;
  }
  .block-search .action.search:active:before {
    color: inherit;
  }
  .block-search .action.search:focus,
  .block-search .action.search:active {
    background: none;
    border: none;
  }
  .block-search .action.search:hover {
    background: none;
    border: none;
  }
  .block-search .action.search:focus:before {
    color: #333;
  }
  .search-autocomplete {
    margin-top: 0;
  }
  .minicart-wrapper {
    margin-left: 13px;
  }
  .minicart-wrapper .block-minicart {
    right: -15px;
    width: 390px;
  }
  .page-wrapper > .breadcrumbs {
    box-sizing: border-box;
    width: 100%;
  }
  .navigation ul {
    padding: 0 8px;
  }
  .header.content {
    padding: 30px 20px 0;
  }
  .page-header {
    border: 0;
    margin-bottom: 0;
  }
  .page-header .panel.wrapper {
    border-bottom: 1px solid #e8e8e8;
  }
  .page-header .header.panel {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .logo {
    margin: -8px auto 25px 0;
  }
  .logo img {
    max-height: inherit;
  }
  .footer.content .links {
    display: inline-block;
    margin-bottom: 20px;
    padding: 0 50px 0 0;
    vertical-align: top;
  }
}
/**
 * Copyright © 2015 Studio Emma. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Buttons
 */
