@charset 'UTF-8';
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Magento components
 */
/**
 * Prime components
 */
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
@font-face {
  font-family: 'rw-prime';
  src: url('../fonts/prime/rw-prime.eot');
  src: url('../fonts/prime/rw-prime.eot?#iefix') format('embedded-opentype'), url('../fonts/prime/rw-prime.woff') format('woff'), url('../fonts/prime/rw-prime.ttf') format('truetype'), url('../fonts/prime/rw-prime.svg#rw-prime') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*=' rw-icon-']::before {
  font-family: 'rw-prime' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Flexbox
 */
/**
 * CSS Grid
 */
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
input:not([disabled]):focus {
  border-color: #696969;
}
.choice [type='checkbox']:not(:checked) + label::after,
.choice [type='radio']:not(:checked) + label::after {
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Slick carousel
 */
/**
 * MageSpecialist
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@magespecialist.it so we can send you a copy immediately.
 *
 * @category   MSP
 * @package    MSP_ReCaptcha
 * @copyright  Copyright (c) 2017 Skeeller srl (http://www.magespecialist.it)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/**
 * Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License").
 * You may not use this file except in compliance with the License.
 * A copy of the License is located at
 *
 *  http://aws.amazon.com/apache2.0
 *
 * or in the "license" file accompanying this file. This file is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */
/**
 * Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License").
 * You may not use this file except in compliance with the License.
 * A copy of the License is located at
 *
 *  http://aws.amazon.com/apache2.0
 *
 * or in the "license" file accompanying this file. This file is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */
/**
* Amazon Pay variables
**/
/**
 * Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License").
 * You may not use this file except in compliance with the License.
 * A copy of the License is located at
 *
 *  http://aws.amazon.com/apache2.0
 *
 * or in the "license" file accompanying this file. This file is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */
/**
 * File contains only one change on line 277 to fix issue postcss complains about
 */
.custom-slider {
  position: relative;
  padding: 0 0 20px;
}
@media all and (min-width: 768px), print {
  h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .navigation,
  .page-header .header.panel,
  .header.content,
  .footer.content,
  .page-main {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
  }
  .page-main {
    width: 100%;
  }
  .columns {
    display: block;
  }
  .column.main {
    min-height: 300px;
  }
  .panel.header {
    padding: 10px 20px;
  }
  .nav-toggle {
    display: none;
  }
  .nav-sections {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    margin-bottom: 25px;
  }
  .navigation {
    background: #f5f5f5;
    font-weight: 700;
    height: inherit;
    left: auto;
    overflow: inherit;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  .navigation ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    position: relative;
  }
  .navigation li.level0 {
    border-top: none;
  }
  .navigation li.level1 {
    position: relative;
  }
  .navigation .level0 {
    margin: 0 10px 0 0;
    display: inline-block;
    position: relative;
  }
  .navigation .level0:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  .navigation .level0 > .level-top {
    color: #575757;
    line-height: 53px;
    padding: 0 12px;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
  }
  .navigation .level0 > .level-top:hover {
    color: #333;
    text-decoration: none;
  }
  .navigation .level0.parent:hover > .submenu {
    overflow: visible !important;
  }
  .navigation .level0.parent > .level-top {
    padding-right: 20px;
  }
  .navigation .level0 .submenu {
    background: #fff;
    border: 1px solid #d1d1d1;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
    font-weight: 700;
    min-width: 230px;
    padding: 15px 0;
    display: none;
    left: 0;
    margin: 0 !important;
    padding: 0;
    position: absolute;
    z-index: 1;
    margin-top: 11px;
  }
  .navigation .level0 .submenu a {
    display: block;
    line-height: inherit;
    color: #575757;
    padding: 8px 20px;
  }
  .navigation .level0 .submenu a:hover {
    background: #e8e8e8;
    color: #333;
    text-decoration: none;
  }
  .navigation .level0 .submenu .submenu {
    top: 0 !important;
    left: 100% !important;
  }
  .navigation .level0 .submenu li {
    margin: 0;
  }
  .hidden-dt {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .columns {
    clear: both;
  }
  .banner {
    position: relative;
    z-index: 999;
    opacity: 1;
    min-height: 12rem;
  }
  .banner.hero {
    min-height: 60rem;
  }
  .banner__image {
    height: 100%;
    overflow: hidden;
  }
  .banner__image > picture {
    width: 100%;
  }
  .banner__image > picture > img {
    width: 1800px;
    left: -900px;
    margin-left: 50%;
    max-width: none;
  }
  .banner__content {
    max-width: 1280px;
    padding: 30px 8%;
  }
  .banner__content.align-left {
    text-align: left;
  }
  .banner__content.align-center {
    text-align: center;
  }
  .banner__content.align-right {
    text-align: right;
  }
  .banner__title {
    font-size: 42px;
  }
  .banner__description {
    font-size: 31.5px;
  }
  .banner__button {
    cursor: pointer;
    margin-top: 30px;
  }
  .block-search .label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .header.content:before,
  .header.content:after,
  .page-header .header.panel:before,
  .page-header .header.panel:after {
    content: '';
    display: table;
  }
  .header.content:after,
  .page-header .header.panel:after {
    clear: both;
  }
  .column.main {
    box-sizing: border-box;
  }
  .block-search {
    float: right;
    padding-left: 15px;
    position: relative;
    width: 250px;
    z-index: 4;
  }
  .block-search .control {
    border-top: 0;
    margin: 0;
    padding: 0 0 25px;
  }
  .block-search input {
    margin: 0;
    padding-right: 35px;
    position: static;
  }
  .block-search input::-webkit-input-placeholder {
    color: #c2c2c2;
  }
  .block-search input:-moz-placeholder {
    color: #c2c2c2;
  }
  .block-search input::-moz-placeholder {
    color: #c2c2c2;
  }
  .block-search input:-ms-input-placeholder {
    color: #c2c2c2;
  }
  .block-search .action.search {
    display: inline-block;
    background-image: none;
    background: none;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
    padding: 5px 0;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
  }
  .block-search .action.search > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .block-search .action.search:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 22px;
    line-height: 22px;
    color: #8f8f8f;
    content: '\e615';
    font-family: 'icons-blank-theme';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .block-search .action.search:hover:before {
    color: inherit;
  }
  .block-search .action.search:active:before {
    color: inherit;
  }
  .block-search .action.search:focus,
  .block-search .action.search:active {
    background: none;
    border: none;
  }
  .block-search .action.search:hover {
    background: none;
    border: none;
  }
  .block-search .action.search:focus:before {
    color: #333;
  }
  .search-autocomplete {
    margin-top: 0;
  }
  .minicart-wrapper {
    margin-left: 13px;
  }
  .minicart-wrapper .block-minicart {
    right: -15px;
    width: 390px;
  }
  .navigation ul {
    padding: 0 8px;
  }
  .header.content {
    padding: 30px 20px 0;
  }
  .page-header {
    border: 0;
    margin-bottom: 0;
  }
  .page-header .panel.wrapper {
    border-bottom: 1px solid #e8e8e8;
  }
  .page-header .header.panel {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .page-main > .page-title-wrapper .page-title {
    display: inline-block;
  }
  .logo {
    margin: -8px auto 25px 0;
  }
  .logo img {
    max-height: inherit;
  }
  .footer.content .links {
    display: inline-block;
    margin-bottom: 20px;
    padding: 0 50px 0 0;
    vertical-align: top;
  }
}
@media all and (min-width: 768px) and (min-width: 1800px), print and (min-width: 1800px) {
  .banner__image > picture > img {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}
/**
 * Copyright © 2015 Studio Emma. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Buttons
 */
