@charset 'UTF-8';
body {
  margin: 0;
  padding: 0;
}
main,
footer,
header,
nav {
  display: block;
}
nav ul {
  list-style: none none;
}
img {
  border: 0;
}
img {
  height: auto;
  max-width: 100%;
}
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: 100%;
}
body {
  color: #333;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  font-size: 1.4rem;
}
p {
  margin-top: 0rem;
  margin-bottom: 1rem;
}
strong {
  font-weight: 700;
}
h1 {
  font-weight: 300;
  line-height: 1.1;
  font-size: 2.6rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
}
h2 {
  font-weight: 300;
  line-height: 1.1;
  font-size: 2.6rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}
h3 {
  font-weight: 300;
  line-height: 1.1;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
a {
  color: #1979c3;
  text-decoration: none;
}
a:visited {
  color: #1979c3;
  text-decoration: none;
}
a:hover {
  color: #006bb4;
  text-decoration: underline;
}
a:active {
  color: #ff5501;
  text-decoration: underline;
}
ul {
  margin-top: 0rem;
  margin-bottom: 2.5rem;
}
ul > li {
  margin-top: 0rem;
  margin-bottom: 1rem;
}
ul ul {
  margin-bottom: 0;
}
button {
  background-image: none;
  background: #f2f2f2;
  border: 1px solid #cdcdcd;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 15px 20px;
  font-size: 1.6rem;
  line-height: 1.6rem;
  box-sizing: border-box;
  vertical-align: middle;
}
button:focus,
button:active {
  background: #e2e2e2;
  border: 1px solid #cdcdcd;
  color: #333;
}
button:hover {
  background: #e2e2e2;
  border: 1px solid #cdcdcd;
  color: #555;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="text"],
input[type="email"] {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #c2c2c2;
  border-radius: 1px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 32px;
  line-height: 1.428571429;
  padding: 0 9px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
}
input[type="text"]:disabled,
input[type="email"]:disabled {
  opacity: 0.5;
}
input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder {
  color: #c2c2c2;
}
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder {
  color: #c2c2c2;
}
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder {
  color: #c2c2c2;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
form {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:focus {
  box-shadow: none;
  outline: 0;
}
input:not([disabled]):focus {
  box-shadow: none;
}
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/light/opensans-300.woff2') format('woff2'), url('../fonts/opensans/light/opensans-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/regular/opensans-400.woff2') format('woff2'), url('../fonts/opensans/regular/opensans-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/semibold/opensans-600.woff2') format('woff2'), url('../fonts/opensans/semibold/opensans-600.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/bold/opensans-700.woff2') format('woff2'), url('../fonts/opensans/bold/opensans-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
.columns {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.columns:after {
  clear: both;
  content: ' ';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.columns .column.main {
  padding-bottom: 40px;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  width: 100%;
}
.nav-sections {
  background: #f5f5f5;
}
.nav-toggle {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-size: 0;
  left: 15px;
  position: absolute;
  top: 15px;
  z-index: 14;
}
.nav-toggle:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 28px;
  line-height: inherit;
  color: #8f8f8f;
  content: '\e609';
  font-family: 'icons-blank-theme';
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.nav-toggle:hover:before {
  color: #333;
}
.nav-toggle > span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
@font-face {
  font-family: 'icons-blank-theme';
  src: url('../fonts/Blank-Theme-Icons/Blank-Theme-Icons.woff2') format('woff2'), url('../fonts/Blank-Theme-Icons/Blank-Theme-Icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
button {
  border-radius: 3px;
}
button:active {
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.12);
}
.action.primary {
  background-image: none;
  background: #1979c3;
  border: 1px solid #1979c3;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding: 15px 20px;
  font-size: 1.6rem;
  box-sizing: border-box;
  vertical-align: middle;
}
.action.primary:focus,
.action.primary:active {
  background: #006bb4;
  border: 1px solid #006bb4;
  color: #fff;
}
.action.primary:hover {
  background: #1c8ade;
  border: 1px solid #006bb4;
  color: #fff;
}
.action.tocart {
  background-image: none;
  background: #ff5501;
  border: 1px solid #cdcdcd;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 15px 20px;
  font-size: 1.6rem;
  line-height: 1.6rem;
  box-sizing: border-box;
  vertical-align: middle;
}
.action.tocart:focus,
.action.tocart:active {
  background: #e2e2e2;
  border: 1px solid #cdcdcd;
  color: #333;
}
.action.tocart:hover {
  background: #ff6920;
  border: 1px solid #cdcdcd;
  color: white;
}
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Magento components
 */
/**
 * Prime components
 */
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
/* Lazyloading image */
.lazyload {
  opacity: 0;
}
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
@font-face {
  font-family: 'rw-prime';
  src: url('../fonts/prime/rw-prime.eot');
  src: url('../fonts/prime/rw-prime.eot?#iefix') format('embedded-opentype'), url('../fonts/prime/rw-prime.woff') format('woff'), url('../fonts/prime/rw-prime.ttf') format('truetype'), url('../fonts/prime/rw-prime.svg#rw-prime') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*=' rw-icon-']::before {
  font-family: 'rw-prime' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon {
  font-size: 2.4rem;
}
.rw-icon-social-tw::before {
  content: '\66';
}
.rw-icon-social-fb::before {
  content: '\67';
}
.rw-icon-social-ig::before {
  content: '\69';
}
.rw-icon-social-pt::before {
  content: '\6a';
}
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Flexbox
 */
/**
 * CSS Grid
 */
/**
     * Column layout
     */
.page-wrapper {
  overflow: hidden;
  position: relative;
}
/**
     * Flex layout
     */
.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex__item {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.flex--wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/**
     * Grid layout
     */
/**
     * General layout
     */
.page-layout-full-width .page-main {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
input:not([disabled]):focus {
  border-color: #696969;
}
.choice [type='checkbox']:not(:checked) + label::after,
.choice [type='radio']:not(:checked) + label::after {
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
/* More/less toggle */
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
.banner {
  color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.banner__image {
  position: absolute;
  width: 100%;
}
.banner__image > picture > img {
  position: relative;
}
.banner__content {
  width: 100%;
  margin: auto;
  display: block;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.banner__title {
  font-weight: 700;
}
.banner__description {
  margin-bottom: 20px;
}
.banner__description::before {
  content: '';
  display: block;
  margin-top: -15px;
}
.banner__button .button {
  background-image: none;
  background: #1979c3;
  border: 1px solid #1979c3;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding: 15px 20px;
  font-size: 1.6rem;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: 2.2rem;
  padding: 14px 17px;
  font-size: 1.8rem;
}
.banner__button .button:focus,
.banner__button .button:active {
  background: #006bb4;
  border: 1px solid #006bb4;
  color: #fff;
}
.banner__button .button:hover {
  background: #006bb4;
  border: 1px solid #006bb4;
  color: #fff;
}
[data-bg] {
  background-size: cover;
  background-position: center center;
}
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
.preheader {
  text-align: center;
}
.preheader > p {
  margin: 0;
}
.logo-container,
.search-container,
.links-container {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.search-container {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.links-container {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}
.header-dropdown {
  display: inline-block;
  position: relative;
}
.header-dropdown:before,
.header-dropdown:after {
  content: '';
  display: table;
}
.header-dropdown:after {
  clear: both;
}
.header-dropdown ul.dropdown {
  margin: 0;
  padding: 0;
  list-style: none none;
  background: #fff;
  border: 1px solid #bbb;
  margin-top: 4px;
  min-width: 100%;
  z-index: 100;
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}
.header-dropdown ul.dropdown li {
  margin: 0;
  padding: 5px 10px;
}
.header-dropdown ul.dropdown li:hover {
  background: #e8e8e8;
  cursor: pointer;
}
.header-dropdown ul.dropdown:before,
.header-dropdown ul.dropdown:after {
  border-bottom-style: solid;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
.header-dropdown ul.dropdown:before {
  border: 6px solid;
  border-color: transparent transparent #fff transparent;
  z-index: 99;
}
.header-dropdown ul.dropdown:after {
  border: 7px solid;
  border-color: transparent transparent #bbb transparent;
  z-index: 98;
}
.header-dropdown ul.dropdown:before {
  right: 10px;
  top: -12px;
}
.header-dropdown ul.dropdown:after {
  right: 9px;
  top: -14px;
}
.header-dropdown .dropdown {
  width: 180px;
}
/**
 * Copyright © 2019 Rocket Web. All rights reserved.
 * See COPYING.txt for license details.
 */
.page-footer {
  background-color: #e5e5e5;
}
.page-footer .footer-social .icon {
  color: #333;
}
.page-footer .footer-social .icon:hover {
  text-decoration: none;
  color: #333;
}
/**
 * Slick carousel
 */
/* Core */
.footer.content ul {
  margin: 0;padding: 0;list-style: none none;
}
.footer.content ul > li {
  margin: 0;
}
.block {
  margin-bottom: 40px;
}
.product-item-name,
.product.name a {
  font-weight: 400;
}
.product-item-name > a {
  color: #333;text-decoration: none;
}
.product-item-name > a:visited {
  color: #333;text-decoration: underline;
}
.product-item-name > a:hover {
  color: #333;text-decoration: underline;
}
.product-item-name > a:active {
  color: #333;text-decoration: underline;
}
.product-item-actions .actions-secondary > .action span,
.minicart-wrapper .action.showcart .text,
.minicart-wrapper .action.showcart .counter-label,
.action.skip:not(:focus) {
  border: 0;clip: rect(0, 0, 0, 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;
}
.header.content:before,
.header.content:after {
  content: '';display: table;
}
.header.content:after {
  clear: both;
}
.columns .column.main,
.product-item,
.search-autocomplete {
  box-sizing: border-box;
}
.product-item-actions .actions-secondary > .action {
  display: inline-block;text-decoration: none;
}
.product-item-actions .actions-secondary > .action > span {
  border: 0;clip: rect(0, 0, 0, 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;
}
.product-item-actions .actions-secondary > .action:before {
  -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-size: 29px;line-height: 24px;color: #7d7d7d;font-family: 'icons-blank-theme';vertical-align: middle;display: inline-block;font-weight: normal;overflow: hidden;speak: none;text-align: center;
}
.product-item-actions .actions-secondary > .action:hover:before {
  color: #333;
}
.cart.table-wrapper .action.help.map:not(:focus),
.opc-wrapper .edit-address-link:not(:focus),
.opc-block-shipping-information .shipping-information-title .action-edit:not(:focus),
.action-auth-toggle:not(:focus),
.checkout-payment-method .checkout-billing-address .action-cancel:not(:focus),
.checkout-agreements-block .action-show:not(:focus),
.cart-summary .block.giftcard .action.check:not(:focus),
.gift-options .actions-toolbar .action-cancel:not(:focus),
.table-comparison .wishlist.split.button > .action:not(:focus),
.product-items .wishlist.split.button > .action:not(:focus),
.paypal-button-widget .paypal-button:not(:focus) {
  box-shadow: none;
}
.no-display {
  display: none;
}
/**
 * MageSpecialist
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@magespecialist.it so we can send you a copy immediately.
 *
 * @category   MSP
 * @package    MSP_ReCaptcha
 * @copyright  Copyright (c) 2017 Skeeller srl (http://www.magespecialist.it)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/**
 * Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License").
 * You may not use this file except in compliance with the License.
 * A copy of the License is located at
 *
 *  http://aws.amazon.com/apache2.0
 *
 * or in the "license" file accompanying this file. This file is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */
/**
 * Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License").
 * You may not use this file except in compliance with the License.
 * A copy of the License is located at
 *
 *  http://aws.amazon.com/apache2.0
 *
 * or in the "license" file accompanying this file. This file is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */
/**
* Amazon Pay variables
**/
/**
 * Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License").
 * You may not use this file except in compliance with the License.
 * A copy of the License is located at
 *
 *  http://aws.amazon.com/apache2.0
 *
 * or in the "license" file accompanying this file. This file is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */
/** mini cart styling **/
/** Prevent movement after a soft decline to other payment steps **/
.products {
  margin: 30px 0;
}
.product-item {
  vertical-align: top;
}
.product-item-name {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  display: block;
  hyphens: auto;
  margin: 5px 0;
  word-wrap: break-word;
}
.product-item-info {
  max-width: 100%;
  width: 152px;
}
.product-item-actions {
  display: none;
}
.product-item-actions .actions-secondary > .action:before {
  margin: 0;
}
.product-item .product-reviews-summary .rating-summary {
  margin: 0 4px 0 0;
}
.product-item .product-reviews-summary .reviews-actions {
  font-size: 12px;
  margin-top: 5px;
  text-transform: lowercase;
}
.product-item .price-box {
  margin: 10px 0 25px;
}
.product-item .price-box .price {
  font-size: 1.4rem;
  font-weight: 700;
  white-space: nowrap;
}
.product-item .price-box .price-label {
  font-size: 12px;
}
.product-item .price-box .price-label:after {
  content: ':';
}
.product-item .special-price .price {
  font-size: 1.4rem;
  font-weight: 700;
}
.product-item .special-price .price-wrapper {
  display: inline-block;
}
.product-item .special-price {
  display: block;
}
.product-item .old-price .price {
  font-weight: 400;
}
.product-item .price-from,
.product-item .price-to {
  margin: 0;
}
.product-item .tocompare:before {
  content: '\e61f';
}
.product-item .tocart {
  white-space: nowrap;
}
.column.main .product-item {
  padding-left: 20px;
}
.price-container .price {
  font-size: 1.4rem;
}
.old-price {
  text-decoration: line-through;
}
.product-image-container {
  display: inline-block;
  max-width: 100%;
}
.product-image-wrapper {
  display: block;
  height: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.product-image-photo {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  margin: auto;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.block-search {
  margin-bottom: 0;
}
.block-search .block-title {
  display: none;
}
.block-search .block-content {
  margin-bottom: 0;
}
.block-search .label {
  text-decoration: none;
  display: inline-block;
  float: right;
}
.block-search .label > span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.block-search .label:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 35px;
  line-height: 33px;
  color: #8f8f8f;
  content: '\e615';
  font-family: 'icons-blank-theme';
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.block-search .label:hover:before {
  color: #333;
}
.block-search .label:active:before {
  color: #333;
}
.block-search .action.search {
  display: none;
}
.block-search .control {
  border-top: 1px solid #d1d1d1;
  clear: both;
  margin: 0 -15px -1px;
  padding: 0 15px;
}
.block-search input {
  left: -300%;
  margin: 15px 0;
  position: absolute;
}
.search-autocomplete {
  display: none;
  margin-top: -15px;
  overflow: hidden;
  position: absolute;
  z-index: 3;
}
.minicart-wrapper {
  display: inline-block;
  position: relative;
  float: right;
}
.minicart-wrapper:before,
.minicart-wrapper:after {
  content: '';
  display: table;
}
.minicart-wrapper:after {
  clear: both;
}
.minicart-wrapper .action.showcart {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
.minicart-wrapper .action.showcart:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 35px;
  line-height: 33px;
  color: #8f8f8f;
  content: '\e611';
  font-family: 'icons-blank-theme';
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.minicart-wrapper .action.showcart:hover:before {
  color: #333;
}
.minicart-wrapper .action.showcart:active:before {
  color: #8f8f8f;
}
.minicart-wrapper .block-minicart {
  margin: 0;
  padding: 0;
  list-style: none none;
  background: #fff;
  border: 1px solid #bbb;
  margin-top: 4px;
  min-width: 100%;
  width: 320px;
  z-index: 101;
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 100%;
  right: 0px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}
.minicart-wrapper .block-minicart:before,
.minicart-wrapper .block-minicart:after {
  border-bottom-style: solid;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
.minicart-wrapper .block-minicart:before {
  border: 6px solid;
  border-color: transparent transparent #fff transparent;
  z-index: 99;
}
.minicart-wrapper .block-minicart:after {
  border: 7px solid;
  border-color: transparent transparent #bbb transparent;
  z-index: 98;
}
.minicart-wrapper .block-minicart:before {
  right: 26px;
  top: -12px;
}
.minicart-wrapper .block-minicart:after {
  right: 25px;
  top: -14px;
}
.minicart-wrapper .block-minicart {
  padding: 25px 20px;
}
.minicart-wrapper .action.showcart {
  white-space: nowrap;
}
.minicart-wrapper .action.showcart .counter.qty {
  background: #ff5501;
  color: #fff;
  height: 24px;
  line-height: 24px;
  border-radius: 2px;
  display: inline-block;
  margin: 3px 0 0;
  min-width: 18px;
  overflow: hidden;
  padding: 0 3px;
  text-align: center;
  white-space: normal;
}
.minicart-wrapper .action.showcart .counter.qty.empty {
  display: none;
}
.block .title {
  margin-bottom: 10px;
}
.block p:last-child {
  margin: 0;
}
.rating-summary {
  overflow: hidden;
  white-space: nowrap;
}
.rating-summary .rating-result {
  width: 100px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.rating-summary .rating-result:before {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  color: #c7c7c7;
  font-family: 'icons-blank-theme';
  font-size: 28px;
  height: 28px;
  letter-spacing: -10px;
  line-height: 28px;
  content: '\e605' '\e605' '\e605' '\e605' '\e605';
  display: block;
  font-style: normal;
  font-weight: normal;
  speak: none;
}
.rating-summary .rating-result > span {
  display: block;
  overflow: hidden;
}
.rating-summary .rating-result > span:before {
  position: relative;
  z-index: 2;
  -webkit-font-smoothing: antialiased;
  color: #ff5501;
  font-family: 'icons-blank-theme';
  font-size: 28px;
  height: 28px;
  letter-spacing: -10px;
  line-height: 28px;
  content: '\e605' '\e605' '\e605' '\e605' '\e605';
  display: block;
  font-style: normal;
  font-weight: normal;
  speak: none;
}
.rating-summary .rating-result > span span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.rating-summary .rating-result {
  margin-left: -5px;
}
.product-reviews-summary .rating-summary .label {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.product-reviews-summary {
  display: table;
  margin: 10px 0 12px;
}
.product-reviews-summary .rating-summary {
  display: table-cell;
  left: -5px;
  position: relative;
  text-align: left;
  vertical-align: middle;
}
.product-reviews-summary .reviews-actions {
  display: table-cell;
  line-height: 28px;
  vertical-align: middle;
}
.product-reviews-summary .reviews-actions a {
  margin-right: 5px;
}
body {
  background-color: #fff;
}
.page-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}
.page-main {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.page-header {
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 20px;
}
.header.content {
  padding-top: 10px;
  position: relative;
}
.logo {
  float: left;
  margin: 0 0 10px 40px;
  max-width: 50%;
  position: relative;
  z-index: 5;
}
.logo img {
  display: block;
}
.action.skip:focus {
  background: #f0f0f0;
  padding: 10px;
  box-sizing: border-box;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 15;
}
.message.global p {
  margin: 0;
}
.message.global.noscript {
  margin: 0 0 10px;
  padding: 10px 20px;
  display: block;
  line-height: 1.2em;
  font-size: 1.3rem;
  background: #ffee9c;
  border-color: #d6ca8e;
  color: #333;
  margin: 0;
}
.page-footer {
  margin-top: auto;
}
.footer.content {
  border-top: 1px solid #d1d1d1;
  margin-top: 25px;
  padding-bottom: 25px;
  padding-top: 25px;
}
.footer.content .links > li {
  margin: 0 0 8px;
}
.widget {
  clear: both;
}
.price-container.weee:before {
  display: none;
}
/**
 * File contains only one change on line 277 to fix issue postcss complains about
 */
.custom-slider {
  position: relative;
  padding: 0 0 20px;
}
.block.widget .product-item-info {
  width: auto;
}
.block-static-block.widget {
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .navigation,
  .page-header .header.panel,
  .header.content,
  .footer.content,
  .page-main {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navigation {
    padding: 0;
  }
  .navigation .parent .level-top {
    position: relative;
    display: block;
    text-decoration: none;
  }
  .navigation .parent .level-top:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 42px;
    line-height: inherit;
    color: inherit;
    content: '\e622';
    font-family: 'icons-blank-theme';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .navigation .parent .level-top:after {
    position: absolute;
    right: 7px;
    top: -8px;
  }
  .nav-sections {
    -webkit-overflow-scrolling: touch;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -ms-transition: left 0.3s;
    transition: left 0.3s;
    height: 100%;
    left: -80%;
    left: calc(-1 * (100% - 54px));
    overflow: auto;
    position: fixed;
    top: 0;
    width: 80%;
    width: calc(100% - 54px);
  }
  .navigation {
    background: #f5f5f5;
    box-sizing: border-box;
  }
  .navigation ul {
    margin: 0;
    padding: 0;
  }
  .navigation li {
    margin: 0;
  }
  .navigation a {
    display: block;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 15px;
  }
  .navigation a,
  .navigation a:hover {
    color: #575757;
    text-decoration: none;
  }
  .navigation .level0 {
    border-top: 1px solid #d1d1d1;
    font-size: 1.6rem;
  }
  .navigation .level0 > .level-top {
    font-weight: 700;
    padding: 8px 40px 8px 15px;
    text-transform: uppercase;
    word-wrap: break-word;
  }
  .navigation .level0 > .level-top:hover {
    color: #333;
  }
  .navigation .level0 > .level1 {
    font-weight: 600;
  }
  .navigation li.level0:last-child {
    border-bottom: 1px solid #d1d1d1;
  }
  .navigation .submenu > li {
    word-wrap: break-word;
  }
  .navigation .submenu > li > a:hover {
    color: #333;
  }
  .navigation .submenu:not(:first-child) {
    font-weight: 400;
    line-height: 1.3;
    left: auto !important;
    overflow-x: hidden;
    padding: 0;
    position: relative;
    top: auto !important;
    transition: left 0.3s ease-out;
  }
  .navigation .submenu:not(:first-child) > li > a {
    padding-left: 15px;
  }
  .navigation .submenu:not(:first-child) > li:last-child {
    margin-bottom: 0;
  }
  .navigation .submenu:not(:first-child) ul {
    display: block;
    padding-left: 15px;
  }
  .navigation .submenu:not(:first-child) ul > li {
    margin: 0;
  }
  .navigation .submenu:not(:first-child) ul > li a {
    color: #575757;
    display: block;
    line-height: normal;
  }
  .navigation .submenu:not(:first-child) ul > li a:hover {
    color: #333;
  }
  .hidden-m {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .banner {
    position: relative;
  }
  .banner.hero {
    min-height: 40rem;
  }
  .banner.hero .banner__content {
    min-height: 30rem;
  }
  .banner__image > picture > img {
    width: 100%;
  }
  .banner__content {
    padding: 20px;
    text-align: center;
    min-height: 8rem;
    min-width: calc(100% - 40px);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
  }
  .banner__title {
    font-size: 42px;
  }
  .banner__description {
    font-size: 21px;
  }
  .header {
    margin: 0;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
  .logo {
    margin: 0 0 0 15%;
  }
  .logo-container,
  .links-container,
  .toggle-wrapper {
    padding: 0;
    margin: 0;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
  .logo-container {
    -webkit-flex-basis: 68%;
    flex-basis: 68%;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
  .links-container {
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
  }
  .toggle-wrapper {
    -webkit-flex-basis: 10%;
    flex-basis: 10%;
  }
  .page-footer .footer__column {
    padding: 15px;
    text-align: center;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
  .compare,
  .product-item-actions .actions-secondary > .action.tocompare {
    display: none;
  }
  .block-search .block-content {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 767px) and (min-width: 640px) {
  .banner__image {
    width: 100%;
  }
}
@media only screen and (max-width: 639px) {
  .block-search {
    margin-top: 10px;
  }
  .minicart-wrapper {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 479px) {
  .minicart-wrapper .block-minicart {
    width: 290px;
  }
}
@media all and (min-width: 640px) {
  .product-item-actions {
    display: block;
  }
  .product-item-actions .actions-primary + .actions-secondary {
    display: table-cell;
    padding-left: 5px;
    white-space: nowrap;
    width: 50%;
  }
  .product-item-actions .actions-primary + .actions-secondary > * {
    white-space: normal;
  }
  .product-item-actions .actions-primary {
    display: table-cell;
  }
}
/**
 * Copyright © 2015 Studio Emma. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Buttons
 */
.footer.content {
  padding: 0;
  border: none;
}
/**
     * Product slider
     **/
.custom-slider .banner + .banner {
  display: none;
}
/**
     * Product slider
     **/
.widget-product-slider,
.widget-product-carousel {
  display: none;
}
