/**
 * Slick carousel
 */

// Default Variables
@rw-slick__icon-font: 'rw-prime';
@rw-slick__loader-path: '@{baseDir}images/';
@rw-slick__prev-character: '\62';
@rw-slick__next-character: '\63';
@rw-slick__nav-size: 25px;
@rw-slick__dot-size: 18px;
@rw-slick__opacity: .85;
@rw-slick__opacity--on-hover: 1;
@rw-slick__opacity--not-active: .25;

& when (@media-common = true) {
    /* Core */
    .slick {
        &-list {
            position: relative;
            overflow: hidden;
            display: block;
            margin: 0;
            padding: 0;

            &:focus {
                outline: none;
            }

            &.dragging {
                cursor: pointer;
                cursor: hand;
            }
        }

        &-track {
            position: relative;
            left: 0;
            top: 0;
            display: block;
            margin-left: auto;
            margin-right: auto;

            &::before,
            &::after {
                content: '';
                display: table;
            }

            &::after {
                clear: both;
            }

            .slick-loading & {
                visibility: hidden;
            }
        }

        &-slider {
            position: relative;
            display: block;
            box-sizing: border-box;
            -webkit-touch-callout: none;
            -webkit-tap-highlight-color: transparent;
            .lib-css(touch-action, pan-y);
            .lib-css(user-selec, none, 1);

            .slick-track,
            .slick-list {
                .lib-css(transform, translate3d(0, 0, 0), 1);
            }
        }

        &-slide {
            float: left;
            height: 100%;
            min-height: 1px;

            [dir='rtl'] & {
                float: right;
            }

            img {
                display: block;
            }

            &.slick-loading img {
                display: none;
            }

            &.dragging img {
                pointer-events: none;
            }

            .slick-loading & {
                visibility: hidden;
            }

            .slick-vertical & {
                display: block;
                height: auto;
                border: 1px solid transparent;
            }
        }

        /* Loader */
        &-loading {
            .slick-list {
                background: #fff url('@{rw-slick__loader-path}loader-1.gif') center center no-repeat;
            }
        }

        /* Arrows */
        &-prev {
            left: @rw-slick__nav-size;

            &::before {
                content: @rw-slick__prev-character;
            }
        }

        &-next {
            right: @rw-slick__nav-size;

            &::before {
                content: @rw-slick__next-character;
            }
        }

        &-prev,
        &-next {
            position: absolute;
            display: block;
            line-height: 0;
            font-size: 0;
            cursor: pointer;
            top: 50%;
            padding: 0;
            border: none;
            outline: none;
            color: #eee;
            z-index: 1;
            .lib-css(transform, translate(0, -50%), 1);
            .lib-button-reset();

            &::before {
                line-height: 1;
                font-family: @rw-slick__icon-font;
                opacity: @rw-slick__opacity;
                .lib-font-size(2*@rw-slick__nav-size);
            }

            &:active,
            &:focus {
                box-shadow: none;
                color: #ccc;
            }

            &.slick-disabled::before {
                opacity: @rw-slick__opacity--not-active;
            }

            &:not(.slick-disabled):hover::before {
                opacity: @rw-slick__opacity--on-hover;
            }
        }

        &-arrow {
            .slick-hidden {
                display: none;
            }
        }

        /* Dots */
        &-dots {
            list-style: none;
            text-align: center;
            padding: 0;
            margin: 0;
            width: 100%;

            li {
                position: relative;
                display: inline-block;
                height: @rw-slick__dot-size * 2;
                width: @rw-slick__dot-size * 2;
                margin: 5px;
                padding: 0;
                cursor: pointer;

                button {
                    display: inline-block;
                    height: @rw-slick__dot-size;
                    width: @rw-slick__dot-size;
                    padding: 10px;
                    border: solid 2px #eee;
                    background: transparent;
                    outline: none;
                    line-height: 0;
                    font-size: 0;
                    color: transparent;
                    border-radius: 50%;
                    opacity: @rw-slick__opacity;
                    cursor: pointer;
                }

                button:hover,
                button:focus {
                    border: solid 2px #eee;
                }

                &.slick-active button {
                    background: #ccc;
                    border: solid 2px #ccc;
                }
            }

            @media (min-width: @screen__m) {
                li button:hover {
                    outline: none;
                    background: #eee;
                    opacity: @rw-slick__opacity--on-hover;
                }
            }
        }

        &-hide {
            display: none;
        }
    }

    .product-slider {
        .slick-prev {
            left: -@rw-slick__nav-size;
        }

        .slick-next {
            right: -@rw-slick__nav-size;
        }
    }
}
