//
//  Header
//  ---------------------------------------------
& when (@media-common = true) {
    .page-header {
        .preheader {
            text-align: center;

            > p {
                margin: 0;
            }
        }

        .logo,
        .search,
        .links {
            &-wrapper {
                .lib-vendor-box-align(center);
            }
        }

        .search-wrapper {
            .lib-vendor-prefix-flex-direction(column);
            .lib-css(justify-content, center, 1);
        }

        .links-wrapper {
            .lib-css(justify-content, flex-end, 1);
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) { 
    .page-header {
        .header {
            margin: 0;
        }

        .logo {
            margin: 0 0 0 15%;
        }

        .logo,
        .links,
        .toggle {
            &-wrapper {
                .lib-vendor-box-align(center);
                padding: 0;
                margin: 0;
            }
        }
        
        .logo-wrapper {
            .lib-vendor-prefix-flex-basis(68%);
            .lib-css(justify-content, center, 1);
        }
        
        .links-wrapper {
            .lib-vendor-prefix-flex-basis(20%);
        }
        
        .toggle-wrapper {
            .lib-vendor-prefix-flex-basis(10%);
        }
    }
}

//
//  Footer
//  ---------------------------------------------
& when (@media-common = true) {
    .page-footer {
        .footer-social {
            .icon {
                .rwp-link-reset();
            }
        }
    }
}