& when (@media-common = true) {
    .hidden {
        .lib-visually-hidden();
    }

    .example-box {
        background: #ddd;
        padding: 5px 10px;
        min-height: 5rem;
        min-width: 100px;
        border: solid 1px #c5c5c5;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .grid-auto;

        &[class^='color'] {
            color: white;
        }
    }

    .color {
        &-primary {
            background: @col-primary;
        }

        &-accent {
            background: @col-accent;
        }

        &-action {
            background: @col-action;
        }

        &-success {
            background: @col-success;
        }

        &-error {
            background: @col-error;
        }

        &-dark {
            background: @col-dark;
        }

        &-neutral {
            background: @col-neutral;
        }
    }
    
}

// Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .hidden-m {
        .lib-visually-hidden();
    }
}

// Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {    
    .hidden-dt {
        .lib-visually-hidden();
    }
}